*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-size: small;
    font-family: arial,sans-serif;
}

.header{
    border-bottom: 1px solid #ebebeb;
    background: #fafafa;
}

.header-busca {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;

}

.header-opcoes {
    display: flex;
    justify-content: space-between;
    width: 632px;
    margin-left: 150px;    
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-opcoes a {
    font-weight: bold;
    color: #777;
    font-size: 13px;
    text-decoration: none;
}

.selected{    
    border-bottom: 3px solid #1A73E8;
    color: #1A73E8;
    font-weight: bold;
}

.busca{
    display:flex;
    align-items: center;
    border-color: #666;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    height:46px;
    width: 632px;
    padding-bottom: 2px;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
    margin-left: 10px;
}


.busca input{
    height: 34px;
    width: 511px;
    display: flex;
    flex:1;
    border:none;
}

.busca i {
    justify-content: flex-end;
    margin: 5px;
}

.busca:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);

}

.left {
    display: flex;
    flex:1;
    justify-content: flex-end;
    align-items: center;
}

.left img {
    height: 40px;
    width:40px;
    border-radius: 50%;
    margin-left: 10px;
}

#resultado-info {
    padding-left: 16px;
    padding-right: 8px;
    color: #808080;
    margin-left: 150px;
    line-height: 45px;
}

main {
    margin-left: 150px;
}

.result {
    margin: 15px;
}

.paginacao {
    margin: 20px;
    display: flex;
    justify-content : center;
}

footer {
    background: #f2f2f2;
    border-top: solid 1px #e4e4e4;
    line-height: 40px;
}

.footer-bloco {
    border-bottom: 1px solid #e4e4e4;
    font-size : small;
    margin-left : 166px
}